/*reset de estilos*/

/*variables*/


/*estilos generales*/


/* ==========================================================================
   Reset y configuración base
   ========================================================================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}

body{
    font-family: var(--main-font);
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

/* ==========================================================================
   Variables y utilidades
   ========================================================================== */

   :root{
    /*colores*/
    --primary-color: #fff;
    --secondary-color: #F86061;
    --tertiary-color: #000;
    --quaternary-color: #FEF5F5;
    --quinary-color: #03A66B;

    /*tipografía*/
    --main-font: 'Poppins';
}

/* ==========================================================================
   Tipografía
   ========================================================================== */


/* ==========================================================================
   Layout
   ========================================================================== */


/* ==========================================================================
   Componentes
   ========================================================================== */



/* ==========================================================================
   Páginas específicas
   ========================================================================== */


/* ==========================================================================
   Utilidades y helpers
   ========================================================================== */


/* ==========================================================================
   Media queries (responsive)
   ========================================================================== */

